/* width */
::-webkit-scrollbar
{
    width: 7px;
    height: 7px;
}
/* Track */
::-webkit-scrollbar-track
{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /*border-radius: 1px;*/
    border-radius: 1.5px;
    background-color: rgba(0,0,0,0.05);
}
/* Handle */
::-webkit-scrollbar-thumb
{
    background: rgb(128, 127, 127); 
    border-radius:1.5px;
    /*border-radius: 10px;*/
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover
{
    background: #aaa; 
}
.full-width-action-bar
{
    width:100%;
    height:70px;
    background-color: #353535;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.full-width-action-bar-buttons-container
{
    max-width: 1475px;
    width: 1475px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}
.full-width-action-bar button
{
    border-radius: 3px;
    height:40px;
    margin:15px;
    /*width:200px;*/
    border:none;
    background-color: #404040;
    outline: none;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-weight: normal;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color:#ddd;
}
.full-width-action-bar span
{
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
}
.full-width-action-bar button i
{
    margin-left: 10px;
    font-size: 18px;
}
.full-width-action-bar button:hover
{
    background-color: #525252;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.full-width-action-bar button:active
{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.gestioneLineeOuterContainer
{
    margin-top: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width:100%;
    margin-bottom: 60px;
    height: calc(100% - 240px);
}
.gestioneLineeInnerContainer
{
    width: 1475px;
    max-width: 1475px;
    height:100%;
    margin-bottom:30px;
    display: flex;
    flex-direction: column;
}
/*-------------------------------------------------------*/
.reusable-control-bar
{
	background: #dadada;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	box-sizing: border-box;
	padding-left: 5px;
	height:40px;
	border-radius: 4px;
    flex-direction: row;
}
#gestioneLineeActionBar
{
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
    width:calc(100% - 40px);
	margin-left: 20px;
	margin-right:20px;
    display: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.reusable-control-bar-margin
{
	margin:5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.rcb-text-container
{
    height:30px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	background-color: rgba(255, 255, 255, 0.7);
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	border:none;
	border-radius: 2px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-family: 'Montserrat',sans-serif;
	color:black;
	font-weight: normal;
    font-size:12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.rcb-button-text-icon
{
	height:30px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	background-color: rgba(255, 255, 255, 0.7);
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	border:none;
	border-radius: 2px;
	cursor: pointer;
	outline:none;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.rcb-button-text-icon:hover
{
	background-color: rgba(255, 255, 255, 0.95);
}
.rcb-button-text-icon span
{
	font-family: 'Montserrat',sans-serif;
	color:black;
	font-weight: normal;
	font-size:12px;
}
.rcb-button-text-icon i
{
	color:black;
	font-weight: normal;
	font-size:12px;
}
.rcb-select-container
{
	height:30px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	background-color: rgba(255, 255, 255, 0.7);
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	border:none;
	border-radius: 2px;
	outline:none;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
}
.rcb-select-container:hover
{
	background-color: rgba(255, 255, 255, 0.95);
}
.rcb-select-container i
{
	color:black;
	margin-right: 5px;
}
.rcb-select-container span
{
	font-family: 'Montserrat',sans-serif;
	color:black;
	font-weight: normal;
	font-size:12px;
	margin:0px;
	padding:0px;
	background-color: transparent;
	border:none;
	outline: none;
}
.rcb-select-container select
{
	font-family: 'Montserrat',sans-serif;
	color:black;
	font-weight: normal;
	font-size:12px;
	margin:0px;
	padding:0px;
	background-color: transparent;
	border:none;
	outline: none;
	height:30px;
	text-decoration: underline;
}
.rcb-select-container select option
{
	font-weight: normal;
}
#selectGruppoSviluppi
{
	max-width:165px;
	text-decoration:none;
}
.rcb-input-icon-container
{
	height:30px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	background-color: rgba(255, 255, 255, 0.7);
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	border:none;
	border-radius: 2px;
	outline:none;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
}
.rcb-input-icon-container select
{
	font-family: 'Montserrat',sans-serif;
	color:black;
	font-weight: normal;
	font-size:12px;
	margin:0px;
	padding:0px;
	background-color: transparent;
	border:none;
	outline: none;
	height:30px;
}
.rcb-input-icon-container input
{
	font-family: 'Montserrat',sans-serif;
	color:black;
	font-weight: normal;
	font-size:12px;
	margin:0px;
	padding:0px;
	background-color: transparent;
	border:none;
	outline: none;
	height:30px;
}
.rcb-input-icon-container span
{
	font-family: 'Montserrat',sans-serif;
	color:black;
	font-weight: normal;
	font-size:12px;
	margin:0px;
	padding:0px;
	background-color: transparent;
	border:none;
	outline: none;
}
.rcb-input-icon-container i
{
	color:black;
	cursor: pointer;
}
.rcb-input-icon-container:hover
{
	background-color: rgba(255, 255, 255, 0.95);
}
.rcb-input-icon-container:focus
{
	background-color: white;
}
.rcb-input-icon-container textarea
{
	font-family: 'Montserrat',sans-serif;
	color:black;
	font-weight: normal;
	font-size:12px;
	height: calc(100% - 5px);
	padding:0px;
	background-color: transparent;
	border:none;
	outline: none;
	border:1px solid #ddd;
	margin-left:10px;
	margin-right:10px;
	border-radius:2px;
	padding:3.5px;
	resize: horizontal;
}
.rcb-input
{
	height:30px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	background-color: rgba(255, 255, 255, 0.7);
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	border:none;
	border-radius: 2px;
	outline:none;
	font-family: 'Montserrat',sans-serif;
	color:black;
	font-weight: normal;
	font-size:12px;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.rcb-input:hover
{
	background-color: rgba(255, 255, 255, 0.95);
}
.rcb-input:focus
{
	background-color: white;
}
.reusable-row-container
{
	display: flex;
	border-radius: 4px;
	flex-direction: row;
	width:100%;
}
.reusable-column-container
{
	display: flex;
	border-radius: 4px;
	flex-direction: column;
	height:100%;
}
.reusable-inner-container
{
	background-color: rgba(255, 255, 255, 0.8);
	box-sizing: border-box;
	border-radius: 4px;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.reusable-inner-container-margin
{
	margin:10px;
}
#inputInserisciSviluppo
{
	width: auto;
}
#selectTurnoAssegnaCabineCorridoi
{
    text-decoration: none;
}
/*----------------------------------------------*/
#gestioneLineeInnerContainer
{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    width:calc(100% - 40px);
    max-height: calc(100% - 80px);
    min-height: calc(100% - 80px);
    height: calc(100% - 80px);
    overflow: hidden;
}
#cabineCorridoiOuterContainer
{
    background-color: #e4e4e4;
    width:365px;
    border:2px solid rgb(199, 199, 199);
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-height: 100%;
    overflow:hidden;
    transition: background-color 0.7s cubic-bezier(.25,.8,.25,1);
}
#cabineCorridoiInnerContainer
{
    box-sizing: border-box;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    height: calc(100% - 20px);
    width: 100%;
    border-radius: 3px;
    overflow:auto;
}
#lineeContainer
{
    width:calc(100% - 365px);
    margin-left: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
}
.linea-outer-container
{
    background-color: #e4e4e4;
    /*border:2px solid rgb(199, 199, 199);*/
    width: 100%;
    border-radius: 3px;
    margin-bottom:20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.linea-inner-container
{
    transition: background-color 0.7s cubic-bezier(.25,.8,.25,1);
    border-radius: 3px;
    max-height:calc(100% - 20px);
    min-height: 70px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    overflow: auto;
    flex-direction: row;
    /*overflow-x:hidden;
    overflow-y: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;*/

    border:2px solid transparent;
    padding:3px;
    box-sizing: border-box;
}
#cabineCorridoiInnerContainer .cabine-corridoi-item
{
    margin-bottom:10px;
}
.linea-inner-container .cabine-corridoi-item
{
    margin:5px;
}
.cabine-corridoi-item
{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /*background-color: rgb(211, 211, 211);*/
    /*background-color:white;*/
    background-color: rgba(255, 255, 255, 0.95);
    cursor: grab;
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
    font-size: 11px;
    font-family: 'Montserrat',sans-serif;
    color:rgb(70, 70, 70);
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    /*height: 20px;*/
    height: 25px;
    border-radius: 4px;
    max-width: 336px;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
}
.cabine-corridoi-item:hover
{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.cabine-corridoi-item-info
{
    height: 20px;
    line-height: 20px;
    font-family: 'Montserrat',sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    color:black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.cabine-corridoi-item-info b
{
    /*color:#4C91CB;*/
    color:black;
}
.cabine-corridoi-item button
{
    border:none;
    background-color: transparent;
    outline: none;
    height: 20px;
    padding:0px;
    /*margin-left: 5px;*/
    margin-right: 5px;
    /*color:#4C91CB;*/
    color:black;
    cursor: pointer;
}
.linea-info-container
{
    height: 20px;
    width: 100%;
    background-color: rgb(199, 199, 199);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    padding-left:5px;
}
.linea-info-container div
{
    height: 20px;
    box-sizing: border-box;
    margin-right:15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.linea-info-container div span
{
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    color:gray;
}
/*----------------------------------------------------*/
.popup-outer-container
{
    margin:20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width:calc(100% - 40px);
    /*align-items: center;*/
    justify-content: flex-start;
}
.popup-action-bar
{
    height:40px;
    background-color: transparent;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.popup-action-bar span
{
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    color:#ddd;
    max-width: calc(100% - 60px);
    width: calc(100% - 60px);
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.popup-action-bar-close-button
{
    cursor: pointer;
    height: 20px;
    width: 20px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#EBEBEB;
    border:none;
    background-color: transparent;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -webkit-appearance:none;
    margin-left:20px;
    font-size:18px;
}
.popup-action-bar-close-button:hover
{
    color:#DA6969;
}
.popup-action-bar-text-button
{
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    display: flex;
    box-sizing: border-box;
    padding:3px 10px;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    color:#aaa;
    border:1px solid #aaa;
    border-radius: 4px;
    background-color: transparent;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-left:20px;
}
.popup-action-bar-text-button:hover
{
    
}
.popup-row
{
    display: flex;
    width: auto;
    box-sizing: border-box;
}
.popup-ul
{
    margin:0px;
    padding:0px;

    list-style-type: none;
}
.popup-ul li
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.popup-ul li span
{
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    color: #ddd;
    text-align: left;
    margin-right: 10px;
}
.popup-ul li input
{
    background-color: transparent;
    border:none;
    border-radius: 4px;
    height: 30px;
    margin:2.5px;
    width: 120px;
    border:2px solid #525252;
    cursor: pointer;
    margin-left: 10px;
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
}
.popup-button
{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /*width:220px;*/
    background-color: #404040;
    border:none;
    height: 30px;
    outline: none;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -webkit-appearance:none;
}
.popup-button span
{
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    color:#ddd;
    display: flex;
    flex-direction: row;
}
.popup-button i
{
    color:#ddd;
    margin-left: 10px;
}
.popup-button:active
{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
/*----------------------------------------------------*/
.popup-riepilogo-info-container
{
    text-align: left;
    font-family: 'Montserrat',sans-serif;
    color:#ddd;
    font-size: 12px;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
}
.popup-riepilogo-chart-container
{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 300px;
    font-family: 'Montserrat',sans-serif;
    color:white;
}
.canvasjs-chart-credit
{
    display: none;
}